<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Tela Principal / Login -->
        <activity
            android:name=".register.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FeedActivity adicionada para evitar o crash -->
        <activity
            android:name=".FeedActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterCompanyActivity"
            android:exported="false" />

        <activity
            android:name=".register.RegisterFreelancerActivity"
            android:exported="false" />

        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />

    </application>

</manifest>